.product-page {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 2.5rem auto 5rem;
  grid-template-columns: 250px auto;

  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar footer footer";
}

/***** sidebar *****/
.sidebar {
  visibility: visible;
  position: fixed;
  grid-area: sidebar;
  overflow-y: scroll;
  width: 250px;
  height: 100%;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  border-right: 3px solid var(--primary-color);
  background-color: var(--primary-bg-color);
}

/** Sidebar Search **/
.sidebar__input--search {
  padding: 8px 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
input::placeholder {
  font-size: var(--font-size-regular);
  color: var(--primary-color);
  position: absolute;
}
/** Filter **/
.sidebar--filter {
  margin: 5px 0;
  color: var(--primary-color);
  padding: 8px;
}
.sidebar__list {
  margin-top: 8px;
}
.sidebar__item {
  color: var(--primary-color);
  padding: 4px;
}
.sidebar--price-filter {
  margin: 10px 2px;
}
.sidebar__btn {
  margin-top: 1rem;
  text-align: center;
}
.sidebar__btn--clear-filter {
  padding: 4px 8px;
  font-weight: 700;
  font-size: var(--font-size-regular);
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
.sidebar__btn--clear-filter:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.product-page__main-container {
  min-height: 84vh;
  grid-area: main;
  background-color: var(--secondary-bg-color);
}

/*card*/

/* card Product Ends Here */
