.nav-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--primary-bg-color);
    border-bottom: 2px solid var(--primary-color);
  }
  .nav-bar__img--logo {
    margin-left: 1rem;
    min-width: 6rem;
    max-width: 10rem;
  }
  .nav-bar__list {
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar__item {
    color: var(--primary-color);
    font-size: var(--font-size-medium);
    padding: 5px 8px;
    border: 2px solid transparent;
  }
  .nav-bar__img--icon{
    min-width: 1rem;
    max-width: 1.5rem;
  }
  .nav-bar__item:hover {
    border-bottom: 2px solid var(--primary-color);
  }
  
  
  /*** Cart badge ***/ 
  .badge__wrapper{
    display: inline-block;
    position: relative;
  }
  .badge--logo{
    font-size:70%;
    font-weight: 900;
    background-color: red;
    color: white;
    border-radius:10px;
    padding:0.1rem 0.4rem;
    position: absolute;
    right:-6px;
    top:0;
  }
  /*badge on Icon */
  .badge__icon--img{
    width: 3rem;
  }
  